.w-20px  { width: 20px; }
.w-50px  { width: 50px; }
.w-90px  { width: 90px; }
.w-100px { width: 100px; }
.w-120px { width: 120px; }
.w-140px { width: 140px; }
.w-160px { width: 160px; }
.w-180px { width: 180px; }
.w-200px { width: 200px; }
.w-300px { width: 300px; }
.w-340px { width: 340px; }