/* Default state */
.btn-primary {
    background: linear-gradient(to bottom, #F7672A 0%, #e56028 100%);
    border-color: #F7672A;
}

.btn-light {
    background: linear-gradient(to bottom, #d7d7d7 0%, #cbcaca 100%);
}

/* Hover, focus, active states */
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    background: linear-gradient(to bottom, #F7672A 0%, #E84630 100%);
    border-color: #F7672A;
}

