.pagination {
    .page-item,
    .page-link {
        margin-left: 4px;
    }
}

@media screen and (max-width: 600px) {

    .pagination {
        .page-item,
        .page-link {
            margin-left: 0;
            margin-right: 5px;
        }
    }
    
}